run = "python bot.py"
entrypoint = "bot.py"
language = "python3"

hidden = [".pyc", "__pycache__", ".env"]

[nix]
channel = "stable-23_05"

[env]
PATH = "${PATH}:${REPL_HOME}/.local/bin"
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[packager]
language = "python3"
ignoredPackages = ["discord.py"]

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true

[unitTest]
language = "python3"

[languages.python3]
pattern = "**/*.py"
syntax = "python"
entrypoint = "bot.py"

[languages.python3.languageServer]
start = ["pylsp"]

[deployment]
run = ["python3", "bot.py"]
deploymentTarget = "cloudrun"

[auth]
pageEnabled = false
buttonEnabled = false
